/*全体样式*/
body {
    margin: 0;
    font-size: 13px;
    line-height: 22px;
    background: url(../picture/back_ground.jpg)
}

.right {
    float:right;
    padding-right:10px;
}

.left {
    float:left;
    padding-left:10px;
}

a {
    color: #FFF;
}
/*顶部导航条*/
.header {
    width: 100%;
    font-size: 17px;
    height: 30px;
    color: #FFF;
    background:url(../picture/head.png) repeat-x;
}

.header span {
    position: relative; /*脱离文档流*/
    top: 10%; /*偏移*/
}
/*页面菜单栏*/
.menu {
    width: 1200px;
    height: 50px;
    margin:0 auto;
    color: #FFF;
    background:url(../picture/head.png) repeat-x;
    transform:translateY(50%);
    font-size: 16px;
}

/*主页面*/
.main {
    width: 1200px;
    height: 600px;
    margin:0 auto;
    transform:translateY(7%);
    background-color: #FFF;
    font-size: 40px;
}