<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEAD</title>
    <meta http-equiv="Content-Language" content="zh-cn">
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <!--<script src="/js/head.js"></script>-->
    <script type="text/javascript" src="/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.3.js"></script>
    <link href="/css/head.css" rel="stylesheet" media="screen" type="text/css">


    <style type="text/css">
    .infoInput{
        width: 300px;
        height:20px;
        margin-bottom: 10px;
    }item
   </style>

</head>
<body>

<!--顶部导航条开始-->
<div class="header">
    <span class="left">欢迎进入！</span>
    <span class="left">&nbsp;&nbsp;&nbsp;&nbsp;
        <script language="JavaScript">
        dayName = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")
        monName = new Array("1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月")
        now = new Date();
        document.write("今天是："+	now.getFullYear()+"年"+monName[now.getMonth()]+now.getDate()+"日 "+"  "+dayName[now.getDay()])
        </script>
    </span>
    <span class="middle" style="padding-left:120px;margin-right: 5px;">
        <div id="item" style="margin-top:-5px">
            <ul class="">
                <li>
                    新闻公告
                    <ul class="second">
                        <li class="li-2">最新动态</li>
                        <li class="li-2">公告公示</li>
                    </ul>
                </li>
                <li>
                    业务工作
                    <ul class="second">
                        <li class="li-2">宣传教育</li>
                        <li class="li-2">权益保障</li>
                        <li class="li-2">女职工工作</li>
                    </ul>
                </li>
                <li>
                    信息中心
                    <ul class="second">
                        <li class="li-2">政策法规</li>
                        <li class="li-2">调查研究</li>
                        <li class="li-2">职工风采</li>
                    </ul>
                </li>
                <li>
                    帮助指南
                    <ul class="second"></ul>
                </li>
            </ul>
        </div>
    </span>
    <img  class="head_picture" src=""  alt="">
    <span class="right"><a style="color: white" href="">登录</a>&nbsp;/&nbsp;<a style="color: white" href="">注册</a></span>
</div>
<!--<div class="menu">-->
<!--</div>-->

<!--业务部分-->
<!-- <div style="width: 20%; float: left;">
    &nbsp
</div> -->
<div id="work" >
    <div class=" websize clearfix">
        <div class="side">

            <!--侧边导航开始-->
            <div class="sidebar" style="margin-top: 25px;background-color: white;height: 597px;">
                <div class="sidebar-title">
                    <h2><a href="./">资料中心</a></h2>
                </div>
                <ul class="sidebar-nav">

                    <li style="background-color: #9e9e9e9c;height: 50px;padding-top: 20px;">
                        <a href="./wjhb/">文件汇编</a>
                    </li>

                    <li style="background-color: #9e9e9e9c;height: 50px;padding-top: 20px;margin-top: 40px;">
                        <a href="./dsj/">大事记</a>
                    </li>

                    <li style="background-color: #9e9e9e9c;height: 50px;padding-top: 20px;margin-top: 40px;">
                        <a href="./grb/">光荣榜</a>
                    </li>

                    <li style="background-color: #9e9e9e9c;height: 50px;padding-top: 20px;margin-top: 40px;">
                        <a href="./zgfc/">职工风采</a>
                    </li>

                </ul>
            </div>
            <!--侧边导航结束-->

            <div class="contact">
                <ul>
                    <li class="tencent"><a href="http://42.63.14.230/yczgh" target="_blank"></a></li>
                    <li class="sina"><a href="http://weibo.com/ycszgh" target="_blank"></a></li>

                    <li class="hudong"><a href="http://zmhd.yinchuan.gov.cn" target="_blank"></a></li>
                    <li class="weiquan"></li>
                </ul>
            </div>

        </div>
        <div class="main border">

            <div class="title">
                <h2>当前位置：<a href="../" target="_blank" title="首页" class="CurrChnlCls">首页</a>><a href="./" target="_blank" title="资料中心" class="CurrChnlCls">资料中心</a></h2>
            </div>

            <!--新闻列表开始-->
            <ul class="article-list clearfix">

                <li>
                    <span>2018-01-22</span>
                    <a href="../fwck/tzgg/201801/t20180122_673176.htm" target="_blank" title="关于印发《银川市企业人才培育培养三年规划》的通知">关于印发《银川市企业人才培育培养三年规划》的通知</a>
                </li>

                <li>
                    <span>2019-01-28</span>
                    <a href="./wjhb/201901/P020190128602053017987.doc" target="_blank" title="奖状审批表">奖状审批表</a>
                </li>

                <li>
                    <span>2019-01-28</span>
                    <a href="./wjhb/201901/P020190128601710076994.doc" target="_blank" title="奖章审批表">奖章审批表</a>
                </li>

                <li>
                    <span>2019-01-28</span>
                    <a href="./wjhb/201901/P020190128601325463021.doc" target="_blank" title="工人先锋号审批表">工人先锋号审批表</a>
                </li>

                <li>
                    <span>2019-01-28</span>
                    <a href="./wjhb/201901/P020190128599103106122.doc" target="_blank" title="公示样本">公示样本</a>
                </li>

                <li>
                    <span>2018-12-24</span>
                    <a href="./wjhb/201812/t20181224_1225952.htm" target="_blank" title="在职职工医疗互助保障管理办法">在职职工医疗互助保障管理办法</a>
                </li>

                <li>
                    <span>2018-11-14</span>
                    <a href="./wjhb/201811/t20181114_1167236.htm" target="_blank" title="宁夏回族自治区基层工会经费收支管理实施细则">宁夏回族自治区基层工会经费收支管理实施细则</a>
                </li>

                <li>
                    <span>2017-06-14</span>
                    <a href="../fwck/tzgg/201706/t20170614_261839.htm" target="_blank" title="在职职工医疗互助保障管理办法">在职职工医疗互助保障管理办法</a>
                </li>

                <li>
                    <span>2017-02-27</span>
                    <a href="./wjhb/201702/t20170227_222838.htm" target="_blank" title="银川市总工会岗位竞聘符合条件报名人员公示">银川市总工会岗位竞聘符合条件报名人员公示</a>
                </li>

                <li>
                    <span>2017-02-27</span>
                    <a href="./wjhb/201702/t20170227_222837.htm" target="_blank" title="关于做好2017年银川市五一劳动奖状、奖章和工人先锋号推荐评选工作的通知">关于做好2017年银川市五一劳动奖状、奖章和工人先锋号推荐评选工作的通知</a>
                </li>

                <li>
                    <span>2016-08-31</span>
                    <a href="../fwck/tzgg/201608/t20160831_181128.htm" target="_blank" title="关于发放2016年第一批银川市“凤城工匠”  助推奖励资金的决定">关于发放2016年第一批银川市“凤城工匠”  助推奖励资金的决定</a>
                </li>

                <li>
                    <span>2016-08-31</span>
                    <a href="../fwck/tzgg/201608/t20160831_181123.htm" target="_blank" title="关于开展首届“凤城工匠”评选活动的通知">关于开展首届“凤城工匠”评选活动的通知</a>
                </li>


            </ul>
            <!--新闻列表结束-->

        </div>
    <!--页面底部开始-->
    <div class="footer websize" style="float:left; margin-top: -250px;">
        <div class="foot">
            <p>主办单位：银川市总工会</p>
            <p>Copyright(C) 2008-2014 银川市总工会版权所有　地址：银川市凤凰北街172号</p>
        </div>
        <style>
.footercopy2{ position:relative;margin:-80px 0 0 200px;float:left;}
</style>
        <div class="footercopy2">
            <script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/30/419/0000/60438617/CA304190000604386170000.js' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>

    </div>
    <!--页面底部结束-->





<!--顶部导航条结束-->
</body>
</html>