<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.dao.InfoMapper" >
  <resultMap id="BaseResultMap" type="com.union.model.Info" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="CLASS1" property="class1" jdbcType="CHAR" />
    <result column="CLASS2" property="class2" jdbcType="CHAR" />
    <result column="CLASS3" property="class3" jdbcType="CHAR" />
    <result column="INDX" property="indx" jdbcType="CHAR" />
    <result column="FLDNM" property="fldnm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CLASS1, CLASS2, CLASS3, INDX, FLDNM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.union.model.InfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from infomst
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.union.model.InfoExample" >
    delete from infomst
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.union.model.Info" >
    insert into infomst (ID, CLASS1, CLASS2, 
      CLASS3, INDX, FLDNM)
    values (#{id,jdbcType=INTEGER}, #{class1,jdbcType=CHAR}, #{class2,jdbcType=CHAR}, 
      #{class3,jdbcType=CHAR}, #{indx,jdbcType=CHAR}, #{fldnm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.union.model.Info" >
    insert into infomst
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="class1 != null" >
        CLASS1,
      </if>
      <if test="class2 != null" >
        CLASS2,
      </if>
      <if test="class3 != null" >
        CLASS3,
      </if>
      <if test="indx != null" >
        INDX,
      </if>
      <if test="fldnm != null" >
        FLDNM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="class1 != null" >
        #{class1,jdbcType=CHAR},
      </if>
      <if test="class2 != null" >
        #{class2,jdbcType=CHAR},
      </if>
      <if test="class3 != null" >
        #{class3,jdbcType=CHAR},
      </if>
      <if test="indx != null" >
        #{indx,jdbcType=CHAR},
      </if>
      <if test="fldnm != null" >
        #{fldnm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.union.model.InfoExample" resultType="java.lang.Integer" >
    select count(*) from infomst
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update infomst
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.class1 != null" >
        CLASS1 = #{record.class1,jdbcType=CHAR},
      </if>
      <if test="record.class2 != null" >
        CLASS2 = #{record.class2,jdbcType=CHAR},
      </if>
      <if test="record.class3 != null" >
        CLASS3 = #{record.class3,jdbcType=CHAR},
      </if>
      <if test="record.indx != null" >
        INDX = #{record.indx,jdbcType=CHAR},
      </if>
      <if test="record.fldnm != null" >
        FLDNM = #{record.fldnm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update infomst
    set ID = #{record.id,jdbcType=INTEGER},
      CLASS1 = #{record.class1,jdbcType=CHAR},
      CLASS2 = #{record.class2,jdbcType=CHAR},
      CLASS3 = #{record.class3,jdbcType=CHAR},
      INDX = #{record.indx,jdbcType=CHAR},
      FLDNM = #{record.fldnm,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>