<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.union.dao.PostDtoMapper" >
  <resultMap id="BaseResultMap" type="com.union.model.PostDto" >
    <id column="POST_ID" property="postId" jdbcType="VARCHAR" />
    <id column="POST_SEQ" property="postSeq" jdbcType="INTEGER" />
    <id column="POST_COMMENT_ID" property="postCommentId" jdbcType="VARCHAR" />
    <result column="POST_USER_ID" property="postUserId" jdbcType="VARCHAR" />
    <result column="POST_TITLE" property="postTitle" jdbcType="VARCHAR" />
    <result column="POST_CONTENT" property="postContent" jdbcType="CHAR" />
    <result column="POST_STATUS" property="postStatus" jdbcType="CHAR" />
    <result column="INSERT_TIME" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_CNT" property="updateCnt" jdbcType="INTEGER" />
    <result column="POST_TAG" property="postTag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    POST_ID, POST_SEQ, POST_COMMENT_ID, POST_USER_ID, POST_TITLE, POST_CONTENT, POST_STATUS, 
    INSERT_TIME, UPDATE_TIME, UPDATE_CNT, POST_TAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.union.model.PostDtoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from postinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.union.model.PostDtoKey" >
    select 
    <include refid="Base_Column_List" />
    from postinfo
    where POST_ID = #{postId,jdbcType=VARCHAR}
      and POST_SEQ = #{postSeq,jdbcType=INTEGER}
      and POST_COMMENT_ID = #{postCommentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.union.model.PostDtoKey" >
    delete from postinfo
    where POST_ID = #{postId,jdbcType=VARCHAR}
      and POST_SEQ = #{postSeq,jdbcType=INTEGER}
      and POST_COMMENT_ID = #{postCommentId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.union.model.PostDtoExample" >
    delete from postinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.union.model.PostDto" >
    insert into postinfo (POST_ID, POST_SEQ, POST_COMMENT_ID, 
      POST_USER_ID, POST_TITLE, POST_CONTENT, 
      POST_STATUS, INSERT_TIME, UPDATE_TIME, 
      UPDATE_CNT, POST_TAG)
    values (#{postId,jdbcType=VARCHAR}, #{postSeq,jdbcType=INTEGER}, #{postCommentId,jdbcType=VARCHAR}, 
      #{postUserId,jdbcType=VARCHAR}, #{postTitle,jdbcType=VARCHAR}, #{postContent,jdbcType=CHAR}, 
      #{postStatus,jdbcType=CHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateCnt,jdbcType=INTEGER}, #{postTag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.union.model.PostDto" >
    insert into postinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        POST_ID,
      </if>
      <if test="postSeq != null" >
        POST_SEQ,
      </if>
      <if test="postCommentId != null" >
        POST_COMMENT_ID,
      </if>
      <if test="postUserId != null" >
        POST_USER_ID,
      </if>
      <if test="postTitle != null" >
        POST_TITLE,
      </if>
      <if test="postContent != null" >
        POST_CONTENT,
      </if>
      <if test="postStatus != null" >
        POST_STATUS,
      </if>
      <if test="insertTime != null" >
        INSERT_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateCnt != null" >
        UPDATE_CNT,
      </if>
      <if test="postTag != null" >
        POST_TAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="postSeq != null" >
        #{postSeq,jdbcType=INTEGER},
      </if>
      <if test="postCommentId != null" >
        #{postCommentId,jdbcType=VARCHAR},
      </if>
      <if test="postUserId != null" >
        #{postUserId,jdbcType=VARCHAR},
      </if>
      <if test="postTitle != null" >
        #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        #{postContent,jdbcType=CHAR},
      </if>
      <if test="postStatus != null" >
        #{postStatus,jdbcType=CHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCnt != null" >
        #{updateCnt,jdbcType=INTEGER},
      </if>
      <if test="postTag != null" >
        #{postTag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.union.model.PostDtoExample" resultType="java.lang.Integer" >
    select count(*) from postinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update postinfo
    <set >
      <if test="record.postId != null" >
        POST_ID = #{record.postId,jdbcType=VARCHAR},
      </if>
      <if test="record.postSeq != null" >
        POST_SEQ = #{record.postSeq,jdbcType=INTEGER},
      </if>
      <if test="record.postCommentId != null" >
        POST_COMMENT_ID = #{record.postCommentId,jdbcType=VARCHAR},
      </if>
      <if test="record.postUserId != null" >
        POST_USER_ID = #{record.postUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.postTitle != null" >
        POST_TITLE = #{record.postTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.postContent != null" >
        POST_CONTENT = #{record.postContent,jdbcType=CHAR},
      </if>
      <if test="record.postStatus != null" >
        POST_STATUS = #{record.postStatus,jdbcType=CHAR},
      </if>
      <if test="record.insertTime != null" >
        INSERT_TIME = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateCnt != null" >
        UPDATE_CNT = #{record.updateCnt,jdbcType=INTEGER},
      </if>
      <if test="record.postTag != null" >
        POST_TAG = #{record.postTag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update postinfo
    set POST_ID = #{record.postId,jdbcType=VARCHAR},
      POST_SEQ = #{record.postSeq,jdbcType=INTEGER},
      POST_COMMENT_ID = #{record.postCommentId,jdbcType=VARCHAR},
      POST_USER_ID = #{record.postUserId,jdbcType=VARCHAR},
      POST_TITLE = #{record.postTitle,jdbcType=VARCHAR},
      POST_CONTENT = #{record.postContent,jdbcType=CHAR},
      POST_STATUS = #{record.postStatus,jdbcType=CHAR},
      INSERT_TIME = #{record.insertTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_CNT = #{record.updateCnt,jdbcType=INTEGER},
      POST_TAG = #{record.postTag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.union.model.PostDto" >
    update postinfo
    <set >
      <if test="postUserId != null" >
        POST_USER_ID = #{postUserId,jdbcType=VARCHAR},
      </if>
      <if test="postTitle != null" >
        POST_TITLE = #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        POST_CONTENT = #{postContent,jdbcType=CHAR},
      </if>
      <if test="postStatus != null" >
        POST_STATUS = #{postStatus,jdbcType=CHAR},
      </if>
      <if test="insertTime != null" >
        INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCnt != null" >
        UPDATE_CNT = #{updateCnt,jdbcType=INTEGER},
      </if>
      <if test="postTag != null" >
        POST_TAG = #{postTag,jdbcType=CHAR},
      </if>
    </set>
    where POST_ID = #{postId,jdbcType=VARCHAR}
      and POST_SEQ = #{postSeq,jdbcType=INTEGER}
      and POST_COMMENT_ID = #{postCommentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.union.model.PostDto" >
    update postinfo
    set POST_USER_ID = #{postUserId,jdbcType=VARCHAR},
      POST_TITLE = #{postTitle,jdbcType=VARCHAR},
      POST_CONTENT = #{postContent,jdbcType=CHAR},
      POST_STATUS = #{postStatus,jdbcType=CHAR},
      INSERT_TIME = #{insertTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_CNT = #{updateCnt,jdbcType=INTEGER},
      POST_TAG = #{postTag,jdbcType=CHAR}
    where POST_ID = #{postId,jdbcType=VARCHAR}
      and POST_SEQ = #{postSeq,jdbcType=INTEGER}
      and POST_COMMENT_ID = #{postCommentId,jdbcType=VARCHAR}
  </update>
</mapper>